<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>-->
	<connectionStrings>
		<add name="test" connectionString="Data Source=test;User ID=test;Password=TEST;" providerName="Oracle.ManagedDataAccess.Client" />
	</connectionStrings>

	<appSettings>
		<add key="InputFilePath" value="D:\dev\test\test.txt"/>
		<add key="Taxrate1" value="5"/>
		<add key="Taxrate2" value="8"/>
		<add key="Taxrate3" value="10"/>
		<add key="Taxdate1" value="20140401"/>
		<add key="Taxdate2" value="20191001"/>
		<add key="Taxdate3" value="20221229"/>
		<add key="KOSINCOOPKBN" value="2"/>
		<add key="KOSINSISYOCD" value="777777"/>
		<add key="KOSINID" value="0"/>
		<!--<add key="BackupFilePath" value="D:\dev\scrollproject\"/>
		<add key="LogFilePath" value="D:\dev\scrollproject\Logs\log_"/>
		<add key="COOPKBN" value="2"/>
		<add key="User" value="0"/>-->
	</appSettings>
	
	
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>